<%= form_for @contact do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  Addresses
  
  <% f.fields_for :addresses do |builder| %>
        <%= render 'address_fields', :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "Add Additional Address", f, :addresses %></p>
  <p>
    <%= f.label :companyassociation %><br />
    <%= f.text_field :companyassociation %>
  </p>
  <p><%= f.submit %></p>
<% end %>
